/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.modal-margin
{
	margin: 3% 0;
}

/* The Close Button */
.closePopup {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closePopup:hover,
.closePopup:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.rightButton 
{
	color: black;
	border-radius: 20px;
	padding: 5px 10px;
	
	font-size: 16px;
	font-family:Arial;
	color: #378de5;
	
	float: right;
	margin-right: 5%;
}

.closedContainer
{
	overflow: hidden;
}



/*Content of the popup */
.popup-content img
{
    max-width: 50px;
	max-height: 50px;
}
.popup-content span
{
	margin-right: 20px;
}
.popup-content p, 
.popup-content h1, 
.popup-content h2, 
.popup-content h3
{
	margin: 20px 0px;
}
.popup-content p
{
	font-size: 14px;
}

.middleAlignTD
{
	text-align: center;
	vertical-align: middle;
}



