/* 
  This is for IE and Safari
 */

a#matchstick-half {
   	left: 0;
   	width: 50%;
   	height: 100%;
}

a#images-half {
	left: 50%;
    width: 50%;
    height: 100%;
}

h1#selecttask_txt1 {
    top: 50%;
}

h1#selecttask_txt2 {
    top: 50%;
}

.possible_fixed_height {
	height: 560px;
}
.possible_full_height {
	height: 100%;
}