<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MatchstickApplication</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

	<listener>
    	<listener-class>grenc.masters.servlets.setup.ServletSetup</listener-class>
	</listener>

	<servlet>
		<servlet-name>DispatcherServlet</servlet-name>
		<servlet-class>grenc.masters.servlets.base.DispatcherServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>grenc.masters.servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LanguageServlet</servlet-name>
		<servlet-class>grenc.masters.servlets.LanguageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserDataServlet</servlet-name>
		<servlet-class>grenc.masters.servlets.UserDataServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectTaskServlet</servlet-name>
		<servlet-class>grenc.masters.servlets.SelectTaskServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MatchstickTaskLearnServlet</servlet-name>
		<servlet-class>grenc.masters.servlets.MatchstickTaskLearnServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MatchstickTaskObserveServlet</servlet-name>
		<servlet-class>grenc.masters.servlets.MatchstickTaskObserveServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MatchstickTaskServlet</servlet-name>
		<servlet-class>grenc.masters.servlets.MatchstickTaskServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ImagesTaskServlet</servlet-name>
		<servlet-class>grenc.masters.servlets.ImagesTaskServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DataPresentServlet</servlet-name>
		<servlet-class>grenc.masters.servlets.DataPresentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreditsServlet</servlet-name>
		<servlet-class>grenc.masters.servlets.CreditsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TaskWrapupServlet</servlet-name>
		<servlet-class>grenc.masters.servlets.TaskWrapupServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>DispatcherServlet</servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LanguageServlet</servlet-name>
		<url-pattern>/selectLanguage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserDataServlet</servlet-name>
		<url-pattern>/userData</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectTaskServlet</servlet-name>
		<url-pattern>/selectTask</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MatchstickTaskLearnServlet</servlet-name>
		<url-pattern>/matchstickTaskLearn</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MatchstickTaskObserveServlet</servlet-name>
		<url-pattern>/matchstickTaskObserve</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>MatchstickTaskServlet</servlet-name>
		<url-pattern>/matchstickTask</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImagesTaskServlet</servlet-name>
		<url-pattern>/imagesTask</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DataPresentServlet</servlet-name>
		<url-pattern>/presentTaskData</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreditsServlet</servlet-name>
		<url-pattern>/credits</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TaskWrapupServlet</servlet-name>
		<url-pattern>/taskWrapup</url-pattern>
	</servlet-mapping>
	
	<resource-ref>
	  <res-ref-name>jdbc/matchstickdb</res-ref-name>
	  <res-type>javax.sql.DataSource</res-type>
	  <res-auth>Container</res-auth>
	</resource-ref>
	
	    <!-- Require HTTPS for everything except /img (favicon) and /css. -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>HTTPSOnly</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

</web-app>

